@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/perfect";

body {
    font: var(--font-m);
    color: var(--text-color);
    transition: color 0.6s, background 0.6s;
}

.app,
.app_modal,
.app_drawer {
    font: var(--font-m);
    color: var(--text-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    transition: color 0.6s, background 0.6s;
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--bg-color);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 3px solid var(--secondary-color);  /* padding вокруг плашки */
}
