.Text {
    margin-right: auto;
}

.text_primary {
    .title {
        font: var(--font-l);
        color: var(--primary-color);
        background: none;
    }

    .text {
        font: var(--font-m);
        color: var(--primary-color);
        background: none;
    }
}

.error_text {
    .title {
        font: var(--font-l);
        color: var(--red-light);
        background: none;
    }

    .text {
        font: var(--font-m);
        color: var(--red-dark);
        background: none;
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}
