.ArticleSortSelector {
    display: flex;
    align-items: center;
}

.order {
    margin-left: 8px;
}

.ArticleSortSelectorMobile {
    display: flex;
    align-items: baseline;
}

.orderMobile {
    margin-left: 8px;
}
