.SidebarText {
    position: absolute;
    margin-left: -212px;
    transform: rotate(-90deg);
    font-size: 32px;
    text-shadow: 0 0 10px #d5d2d2, 0 0 20px #d5d2d2, 0 0 30px #d5d2d2, 0 0 40px #d5d2d2;
}

.r {
    position: absolute;
    margin-left: -256px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}

.a {
    position: absolute;
    margin-left: -288px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}

.b {
    position: absolute;
    margin-left: -320px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}

.e {
    position: absolute;
    margin-left: -352px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}

.d {
    position: absolute;
    margin-left: -384px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}

.i {
    position: absolute;
    margin-left: -416px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}

.s {
    position: absolute;
    margin-left: -448px;
    margin-top: 230px;
    font-size: 30px;
    transition: margin-left 0.2s;
}
