.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: 220px;
    bottom: 0;
    right: 0;
    left: 0;
    background: var(--third-color);
    position: fixed;
    display: flex;
    transition: transform 0.1s, width 0.1s, background 0.1s;
    transform: translateX(0);
    z-index: 100;
}

.collapseBtn {
    position: absolute;
    width: 30px !important;
    height: 35px !important;
    border-radius: 0 14px 14px 0;
    right: -30px;
    bottom: 80%;
    z-index: 100;
    cursor: none;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: start;
    width: 100%;
    margin-left: 20px;
}

.lang {
    margin-left: 20px;
}

.items {
    margin-top: 90px;
    margin-left: 20px;
}

.collapsed {
    transition: transform 0.1s, background 0.1s;
    transform: translateX(-100%);
}
