.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--third-color);
    position: relative;
    transition: width 0.1s, background 0.1s;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -40px;
    bottom: 0;
}

.items {
    margin-top: 90px;
    margin-left: 20px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
    transition: background 0.1s, width 0.1s;
    background: var(--secondary-color);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }
}
