.item {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;
    display: flex;
}

.icon {
    transition: fill 0.1s;
    margin: 15px 0;
}

.collapsed {
    .link {
        transition: fill 0.1s, display 0.1s;
        display: none;
    }
}
