.ArticleListItemMobile {
    width: 85vw;
    height: 260px;
    transition: 0.1s;
}

.cardMobile {
    width: 85vw;
    height: 260px;
    transition: 0.1s;
}

.cardSkelMobile {
    width: 85vw;
    height: 260px;
}

.imageWrapperMobile {
    width: 85vw;
    height: 165px;
    transition: 0.1s;
    position: relative;
}

.imgMobile {
    transition: 0.1s;
    width: 85vw;
    height: 165px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.dateMobile {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.infoWrapperMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
    margin-right: 15px;
}

.titleMobile {
    margin-top: 5px;
}

.titleMobile p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BIG {
    .card {
        padding: 15px;
    }

    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 8px;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin: 16px 0;
    }

    .footer {
        display: flex;
        align-items: center;
        margin-top: 16px;
    }

    .textBlock {
        max-height: 190px;
        overflow-y: hidden;
    }
}

.SMALL {
    width: 200px;
    transition: 0.2s;
    cursor: pointer;

    .cardSkel {
        width: 200px;
    }

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .imageWrapper {
        width: 200px;
        height: 165px;
        position: relative;
    }

    .img {
        width: 200px;
        height: 165px;
        object-fit: cover;
        border-radius: 12px 12px 0 0;
    }

    .infoWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2px;
        margin-right: 15px;
    }

    .infoWrapperSkel {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 12px;
    }

    .title {
        margin-top: 5px;
    }

    .titleSkel {
        margin: 15px;
    }

    .title p {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
