.ListBox {
    position: relative;
}

.placeholder {
    margin-right: 5px;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.options {
    background: var(--secondary-color);
    position: absolute;
    z-index: 10000;
    border-radius: 6px;
    box-shadow: 2px 2px 4px var(--card-bg);
    margin-top: 10px;
    width: 200px;
}

.item {
    transition: 0.2s;
    padding: 8px 0 8px 16px;
    margin: 0;
}

.active {
    background: var(--third-color);
    border-radius: 6px;
}

.disabled {
    opacity: 0.7;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}
