.mainDiv {
    padding: 50px;
}

.h1n {
    margin-bottom: 30px;
}

.input {
    margin-right: 15px;
    padding: 2px 10px;
    color: #8f8998;
    width: 190px;
    height: 30px;
    border-radius: 9px;
}

li {
    margin-top: 15px;
    margin-left: 20px;
}

.button {
    background: #423c42;
    color: #8f8998;
    width: 190px;
    height: 30px;
    border-radius: 9px;
}

.deleteButton {
    margin-left: 20px;
    background: #423c42;
    color: #8f8998;
    width: 90px;
    height: 30px;
    border-radius: 9px;
}
