.Wrapper {
    display: flex;
}

.label {
    margin-right: 5px;
    margin-top: 7px;
}

.select {
    background: none;
    outline: none;
    color: var(--text-color);
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
}

.option {
    color: var(--text-color);
    background: var(--third-color);
}
