.app_dark_theme {
    --bg-color: #0c0c0c;
    --text-color: #cbcbcb;
    --primary-color: #706d6d;
    --secondary-color: #2d2d2d;
    --third-color: #131313;
    --theme-icon-color: #cbcbcb;
    --link-color: #a1a0a0;
}
