.app_light_theme {
    --bg-color: #e0e0ee;
    --text-color: #171414;
    --primary-color: #151414;
    --secondary-color: #b6a6a5;
    --third-color: #a49090;
    --theme-icon-color: #d0cade;
    --link-color: #1f1e1f;

    // skeleton
    --skeleton-shadow: #5e5969;
    --skeleton-color: #8f8a9f;

    // code
    --code-bg: #8f8998;

    // card
    --card-bg: #847e93;
}
