.app_light_theme {
    --bg-color: #ffdfde;
    --text-color: #2b4880;
    --primary-color: #3a4a64;
    --secondary-color: #6a7ba2;
    --third-color: #94a3c0;
    --theme-icon-color: #f3e5e5;
    --link-color: #354b7a;
    --skeleton-shadow: #6b6b6c;
    --skeleton-color: #d0cece;
    --code-bg: #c9bfc9;
}
