.app_light_theme {
    --bg-color: #0808e8;
    --text-color: #94811f;
    --primary-color: #a1c4a1;
    --secondary-color: #31e10a;
    --third-color: #3cb026;
    --theme-icon-color: #d2580c;
    --link-color: #bb0404;

    // skeleton
    --skeleton-shadow: #1717e1;
    --skeleton-color: #1a7cda;

    // code
    --code-bg: #0c37da;

    // card
    --card-bg: #22b70e;
}
