.app_perfect_theme {
    --bg-color: #ffbefa;
    --text-color: #4f2e4f;
    --primary-color: #423c42;
    --secondary-color: #de8df5;
    --third-color: #c175c4;
    --theme-icon-color: #46144f;
    --link-color: #56454f;
    --skeleton-shadow: #29292a;
    --skeleton-color: #c076c0;
    --code-bg: #ce99ce;
}
