.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: background 0.6s;
}

.links,
.actions {
    margin-left: auto;
}

.bars {
    margin-right: 15px;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
}
