.ProfileCard {
    padding: 20px;
    border: 3px solid var(--third-color);
    transition: border 0.6s;
}

.loading,
.error {
    height: 300px;
}

.input:hover {
    pointer-events: none;
}

.editing {
    border: 3px solid var(--primary-color);
    transition: border 0.6s;

    .input:hover {
        pointer-events: auto;
    }
}
