.AppLink {
    color: var(--link-color);
    transition: color 0.6s;

    &:hover {
        opacity: 0.7;
    }
}

.primary {
    color: var(--link-color);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: red;
}
